beautifulsoup4>=4.14.3
cloud-sql-python-connector>=1.20.2
gcsfs>=2026.3.0
google-cloud-storage>=3.10.1
nicegui>=3.11.0
numpy>=2.4.4,<3.0
openpyxl>=3.1.5
pandas>=2.3.3,<3.0
pdfkit>=1.0.0
pdfplumber>=0.11.9
pg8000>=1.31.5
plotly>=6.7.0
psycopg2-binary>=2.9.10
pyppeteer>=2.0.0
pypdf>=6.10.2
pytest>=9.0.3
requests>=2.33.1
scipy>=1.17.1,<2.0
SQLAlchemy>=2.0.49
st-files-connection>=0.1.0
streamlit>=1.56.0